.report-component{
  position:relative;
  height:calc(100vh - 100px);
  background:#fff;
  box-shadow:0px 0px 5px rgba(0,0,0,.5);
  z-index:100;
  padding:40px;
}

@media print {

  .report-component{

    .table table{
      width:100%;
    }
  }

  .gridwrapper {
    .gridwrapper-x{
      display:none !important;
    }

    .gridwrapper-y{
      display:none !important;
    }

    .gridwrapper-inner{
      .react-draggable{
        display:none !important;
      }

      .gridwrapper-inner-section-wrapper{
        display:none !important;
      }
    }
  }
}