.gridwrapper {
	height: 100%;
	position: relative;

  .gridwrapper-save {
    position: absolute;
    top: 0;
    right: 0;
  }

	.gridwrapper-inner {
		position: absolute;
		top: 0;
		right: 50px;
		bottom: 50px;
		left: 50px;

		.gridwrapper-inner-section-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
    	z-index: -1;
		}

		.gridwrapper-inner-section {
			width: 50%;
			height: 50%;
			float: left;
			font-size: 100px;
			display: flex;
			align-items: center;
  		justify-content: center;
  		pointer-events: none;
  		user-select: none;

  		&:nth-child(1){
  			background: #48b9b9;
  			color: #3bacac;
  		}

  		&:nth-child(2){
  			background: #004b9b;
  			color: #003d8b;
  		}

  		&:nth-child(3){
  			background: #e84f35;
  			color: #e3412a;
  		}

  		&:nth-child(4){
  			background: #9cd6f0;
  			color: #8dcded;
  		}
		}

    .react-draggable {
      height: 48px;
      width: 41px;
      position: absolute;
      background: url(../images/marker-small.svg) no-repeat 0 0 transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 11px;
      padding: 1px 2px 6px 0;
      font-weight: 500;

      .react-draggable-actions {
        position: absolute;
        right: 120%;
        color: white;
      }
    }

    .react-draggable.size-m {
      height: 67px;
      width: 56px;
      background-image: url(../images/marker-medium.svg);
      font-size: 14px;
    }

    .react-draggable.size-l {
      height: 95px;
      width: 82px;
      background-image: url(../images/marker-large.svg);
      font-size: 14px;
    }
	}

	.gridwrapper-x {
		position: absolute;
		bottom: 0;
		left: 50px;
		right: 0;
		height: 50px;
		display: flex;
		justify-content: space-between;
		font-size: 18px;
	}
}
