.popup {
	min-width: 300px;
	width: 100%;
	max-width: 500px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 3px;
	overflow: hidden;
  text-align: center;

  a {
    text-decoration: none;
    color: #1C1C1C;
  }

  .grid {
      margin-left: -16px;
      margin-right: -16px;
  }

  [class^='grid-'],
  [class*=' grid-'] {
      padding: 0 16px;
  }

  .list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

	.popup-header {
		margin-top: 14px;
		position: relative;
		text-align: center;
    color: white;
    display: flex;

		&:before {
			width: 0;
			height: 0;
			border-left: 17px solid transparent;
			border-right: 17px solid transparent;
			border-bottom: 14px solid #1C1C1C;
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -100%);
		}
		.popup-header-title {
			margin: 0;
			font-size: 14px;
      flex: 1;
      padding: 9px 0;
      background-color: #1C1C1C;
		}

    .popup-header-tab {
      background: white;
      flex: 1;
      background-color: #F1F1F1;

      a {
        display: block;
        color: #D0D0D0;
        text-decoration: none;
        padding: 9px 0;
      }
    }

		.popup-header-close {
			position: absolute;
      right: 12px;
      top: 7px;
			color: white;

      &:before {
        @include font-icon;
        content: 'h';
        font-size: 10px;
      }
		}
	}

	.popup-inner {
		background: white;
		text-align: center;
		padding: 20px 16px;
    border: 0px none;

		form {
			flex-direction: column;
		}

	}
  .popup-inner-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: 1px solid #1C1C1C;
    background: white;

    .button {
      flex: 1;
      margin: 0;
      border: solid #1C1C1C;
      border-width: 0 0 0 1px;
      line-height: 40px;
      font-size: 15px;
      background: white;
      padding: 0;

      &:first-child {
        border-left: 0px none;
      }
    }
  }
}
