.popup {
	min-width: 300px;
	width: 100%;
	max-width: 350px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 3px;
	overflow: hidden;
        text-align: center;
        top:7px; 

  a {
    text-decoration: none;
    color: #1C1C1C;
    font-weight:600;
  }

  .grid {
      margin-left: -16px;
      margin-right: -16px;
  }

  [class^='grid-'],
  [class*=' grid-'] {
      padding: 0 16px;
  }

  .list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

	.popup-header {
		margin-top: 14px;
		position: relative;
		text-align: center;
                color: white;
                display: flex;     
                background-color: #1C1C1C;
                z-index:1;
                border-radius:5px 5px 0px 0px;
		&:before {
			width: 0;
			height: 0;
			border-left: 17px solid transparent;
			border-right: 17px solid transparent;
			border-bottom: 14px solid #1C1C1C;
			content: '';
			position: absolute;
			top: 1px;
			left: 50%;
			transform: translate(-50%, -100%);
		}
		.popup-header-title {
			margin: 0;
			font-size: 14px;
                        flex: 1;
                        padding: 17px 0px;
                        border-radius: 4px 4px 0 0;
		}

    .popup-header-tab {
      background: white;
      flex: 1;
      background-color: #F1F1F1;
      box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.50);
      border-radius: 4px 0 0 0;
      
      a {
        display: block;
        color: #D0D0D0;
        text-decoration: none;
        padding: 17px 0;
      }
    }

		.popup-header-close {
			position: absolute;
                        right: 16px;
                        top: 16px;
                        color: white;
                        &:before {
                          @include font-icon;
                          content: '\6f';
                          font-size: 11px;
                        }
		}
	}

	.popup-inner {
		background: white;
		text-align: center;		
                border: 0px none;
                box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.50);
                border-radius: 0px 0x 5px 5px;
                position:relative;
                z-index:2; 
		form {
			flex-direction: column;
		}
                .success-add-group, .overview{
                    display:flex;
                    flex-wrap:wrap;
                    justify-content:center;
                    flex-direction:column;
                    padding:20px;
                    .success-message, .ov-message{
                        width:100%;
                        p{
                            text-transform:uppercase;
                            font-size:12px;
                            margin-bottom:20px;
                        }
                    }
                    .ov-img-content{
                        position:relative;
                        margin-bottom:30px;
                        .ov-icon-path{
                            background-color: white;
                            width: 150px;
                            height: 150px; 
                            border-radius: 80px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: auto;
                            position: relative;
                            border: 2px solid $brand-color-dark;
                            text-transform:uppercase;
                            img{                                
                                width: 100px;
                                height: auto;
                            }                            
                        }
                        .ov-icon-size{
                            position:absolute;
                            top:0px;
                            right:0px;
                            border-radius:40px;
                            background-color:white;
                            border:2px solid $brand-color-dark;
                            height:40px;
                            width:40px;
                            display:flex;
                            align-items:center;
                            justify-content:center;
                            font-size:16px;
                            line-height:1;
                            font-weight:500;
                        }
                    }
                    .ov-scores{
                     display:flex;
                     justify-content:center;
                     margin-bottom:30px;
                        .royalty-wrapper{
                           width:40%;                        
                           span{
                               background-image:url('../images/green-circle.svg');                            
                           }
                       }
                       .loyalty-wrapper{
                           width:40%;  
                           span{
                               background-image:url('../images/red-circle.svg');                            
                           }
                       }
                       .loyalty-wrapper, .royalty-wrapper{                        
                           span{
                               background-size:100%;
                               background-repeat:no-repeat;
                               margin: auto;
                               width: 73px;
                               height: 75px;
                               display: flex;
                               align-items: center;
                               justify-content: center;
                               color:white;
                               font-size:24px;
                           }
                       }
                    }                    
                }
                .fancylist{
                    padding:25px;
                }
	}
  .popup-inner-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: 1px solid #1C1C1C;
        .button {
          flex: 1;
          margin: 0;
          border: solid #1C1C1C;
          border-width: 0 0 0 1px;
          line-height: 40px;
          font-size: 15px;
          padding: 0;
            &:first-child {
              border-left: 0px none;
            }
        }    
  }
  &.large-window{
    max-width:550px;
  }
  &.small-window{
    max-width:350px;
  }

}
