%button {
  font-family: $family-base;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	line-height: 30px;
	outline: 0;
	padding: 6px 24px;
	text-align: center;
	text-decoration: none;
  font-weight: 500;

	&:before {
		margin-right: 6px;
	}

	&.disabled, &[disabled] {
		opacity: 0.4;
		pointer-events: none;
	}

	&:hover {
		background-color: darken($brand-color, 8%);
		border-color: darken($brand-color, 8%);
	}
}

.button {
	@extend %button;
}

.button-round {
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 400;  
  position:absolute;
  font-size:11px;
  .button-round-inside {
    background: white;
    height: 38px;
    width: 38px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 6px;
    display: flex;
    align-items:center;
    justify-content:center;
    color: $brand-color-dark;
    font-size: 18px;
    position:relative;
    &.icon-progress {
      font-size: 24px;
    }
    &.icon-edit{
        &:before{            
            display:block;
            color:$brand-color-2;
        }
    }
    &.icon-chain{
        &:before{            
            display:block;
            color:$brand-color-2;
            font-size:24px;
        }
    }
  }  
  &.fourth{      
      .button-round-inside{
          &:after{
              background-image:url(../images/pirate.svg);
              content: "";
              height: 24px;
              width: 24px;
              display: block;
              position: absolute;
              top: 6px;
              left: 8px;
              background-size: 100%;
          }
      }
  }
}