@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500');

@font-face {
  font-family: "propella";
  src:url("../fonts/propella.eot");
  src:url("../fonts/propella.eot?#iefix") format("embedded-opentype"),
    url("../fonts/propella.woff") format("woff"),
    url("../fonts/propella.ttf") format("truetype"),
    url("../fonts/propella.svg#propella") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "propella" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "propella" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-slide-icon-crown:before {
  content: "\61";
}
.icon-arrow-down:before {
  content: "\62";
}
.icon-arrow-up:before {
  content: "\63";
}
.icon-bin:before {
  content: "\64";
}
.icon-chain-blue:before {
  content: "\65";
}
.icon-chevron-bottom-left:before {
  content: "\66";
}
.icon-chevron-bottom-right:before {
  content: "\67";
}
.icon-chevron-top-left:before {
  content: "\68";
}
.icon-chevron-top-right:before {
  content: "\69";
}
.icon-eye:before {
  content: "\6a";
}
.icon-hamburger:before {
  content: "\6b";
}
.icon-logo-icon:before {
  content: "\6c";
}
.icon-mining-red:before {
  content: "\6d";
}
.icon-minus:before {
  content: "\6e";
}
.icon-x:before {
  content: "\6f";
}
.icon-three-dots:before {
  content: "\70";
}
.icon-telecommunications:before {
  content: "\71";
}
.icon-stack:before {
  content: "\72";
}
.icon-stack-1:before {
  content: "\73";
}
.icon-slide-icon-love:before {
  content: "\74";
}
.icon-slide-icon-jester:before {
  content: "\75";
}
.icon-slide-icon-hate:before {
  content: "\76";
}
.icon-retail-red:before {
  content: "\77";
}
.icon-plus-1:before {
  content: "\78";
}
.icon-plus:before {
  content: "\79";
}
.icon-edit:before {
  content: "\7a";
}
