.form {
  display: block;

  .form-label {
    text-transform: uppercase;
    font-size: 12px;
    margin: 10px auto;
  }

  .form-group {
    margin: 0 0 18px;

    &:last-child {
      margin-bottom: 0!important;
    }
  }

  input,
  textarea {
    font-family: $family-base;
    width: 100%;
    background: #FCFCFC;
    border-radius: 0;
    box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.50);
    font-size: 24px;
    text-align: center;
    -webkit-appearance: none;
    border: 1px solid #FCFCFC;
    padding: 6px 0;
  }

  textarea,
  .form-group textarea {
    font-size: 14px;
    text-align: left;
    min-height: 120px;
    padding:9px;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
  }


    .form-type-upload .file-upload {
      display: block;
      height: 76px;
      width: 76px;
      background-color: white;
      border: 0px none;
      padding: 0;
      font-size: inherit;
      line-height: 1;
      cursor: pointer;
      position: relative;
      z-index: 1;
      background-color: $brand-color-light;
      border-radius: 38px;

      .file-name {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

  .form-type-upload.has-no-file .file-upload {
    .file-name {
      visibility: hidden;

      &:before {
        @include font-icon;
        content: '\78';
        color: #d0d0d0;
        font-size: 25px;
        visibility: visible;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .form-type-radio.form-styled .form-options {
    .form-option-radio {
      margin-left: 14px;

      &:first-child {
        margin-left: 0;
      }

      .form-option-inner {
        display: block;
        line-height: 42px;
        min-width: 42px;
        width: 42px;
        text-align: center;
        padding: 0;
        color: inherit;
        cursor: pointer;
        border: 0px none;
        background-color: $brand-color-light;
        border-radius: 21px;
      }

      &.is-selected {
        .form-option-inner {
          background-color: $brand-color-dark;
          color: white;
        }
      }
    }
  }
  .counter{
      color:white;
      background-image:url(../images/blue-circle.svg);
      height: 49px;
      width: 48px;
      display: block;      
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
  }
}
