.icon-add-organisation:before {
    content: '';
    background: url(../images/icon-add-organisation.svg) no-repeat;
    background-size: 100%;
    background-position: center;
    height: 22px;
    width: 24px;
    display: block;
}